<section id="projects">
  <h1 class="projects-title">Click to View Projects</h1>
  <div class="projects">
    <div class="project-group-1">
      <article class="project-item">
        <div class="project-img">
          <a href="https://facebook.com">
            <img src="../assets/images/iphone.png" alt="Project">            
          </a>
        </div>
        <div class="project-caption">
          <h4 class="project-title">
            <a href="https://facebook.com">Project title</a>
          </h4>
          <h6 class="github-link">
            <a href="https://github.com" title="View github repository">
              Github
            </a>
          </h6>
        </div>
      </article>
      <article class="project-item">
        <div class="project-img">
          <a href="https://facebook.com">
            <img src="../assets/images/iphone.png" alt="Project">            
          </a>
        </div>
        <div class="project-caption">
          <h4 class="project-title">
            <a href="https://facebook.com">Project title</a>
          </h4>
          <h6 class="github-link">
            <a href="https://github.com" title="View github repository">
              Github
            </a>
          </h6>
        </div>
      </article>
      <article class="project-item">
        <div class="project-img">
          <a href="https://facebook.com">
            <img src="../assets/images/iphone.png" alt="Project">            
          </a>
        </div>
        <div class="project-caption">
          <h4 class="project-title">
            <a href="https://facebook.com">Project title</a>
          </h4>
          <h6 class="github-link">
            <a href="https://github.com" title="View github repository">
              Github
            </a>
          </h6>
        </div>
      </article>
    </div>

    <div class="project-group-2">
      <article class="project-item">
        <div class="project-img">
          <a href="https://facebook.com">
            <img src="../assets/images/iphone.png" alt="Project">            
          </a>
        </div>
        <div class="project-caption">
          <h4 class="project-title">
            <a href="https://facebook.com">Project title</a>
          </h4>
          <h6 class="github-link">
            <a href="https://github.com" title="View github repository">
              Github
            </a>
          </h6>
        </div>
      </article>
      <article class="project-item">
        <div class="project-img">
          <a href="https://facebook.com">
            <img src="../assets/images/iphone.png" alt="Project">            
          </a>
        </div>
        <div class="project-caption">
          <h4 class="project-title">
            <a href="https://facebook.com">Project title</a>
          </h4>
          <h6 class="github-link">
            <a href="https://github.com" title="View github repository">
              Github
            </a>
          </h6>
        </div>
      </article>
      <article class="project-item">
        <div class="project-img">
          <a href="https://facebook.com">
            <img src="../assets/images/iphone.png" alt="Project">            
          </a>
        </div>
        <div class="project-caption">
          <h4 class="project-title">
            <a href="https://facebook.com">Project title</a>
          </h4>
          <h6 class="github-link">
            <a href="https://github.com" title="View github repository">
              Github
            </a>
          </h6>
        </div>
      </article>
    </div>
  </div>
</section>