<section id="footer">
  <div class="footer-icons">
    <a href="https://github.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'github']" title="Github"></fa-icon></a>
    <a href="https://codepen.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'codepen']" title="Codepen"></fa-icon></a>
    <a href="https://linkedin.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'linkedin']" title="Linkedin"></fa-icon></a>
    <a href="https://medium.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'medium']" title="Medium"></fa-icon></a>
    <a href="https://instagram.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'instagram']" title="Instagram"></fa-icon></a>
    <a href="https://youtube.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'youtube']" title="Youtube"></fa-icon></a>
    <p class=footer-text>Tibi design</p>
  </div>
</section>