<div class="wrapper">
  <app-nav-menu></app-nav-menu>
  <router-outlet></router-outlet>
  <!-- Home section -->
  <section id="home">
    <!--Video background-->
    <video loop muted autoplay id="video-background">
      <source src="../assets/videos/vdeio-background.mp4" type="video/mp4">  
    </video>
      
    <div class="video-overlay"></div>

    <!-- Main title-->
    <h1 class="main-title">Title</h1>

    <!-- Social icons-->
    <div class="social-icons">
      <a href="https://github.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'github']" title="Github"></fa-icon></a>
      <a href="https://codepen.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'codepen']" title="Codepen"></fa-icon></a>
      <a href="https://linkedin.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'linkedin']" title="Linkedin"></fa-icon></a>
      <a href="https://gitmediumhub.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'medium']" title="Medium"></fa-icon></a>
      <a href="https://instagram.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'instagram']" title="Instagram"></fa-icon></a>
      <a href="https://youtube.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'youtube']" title="Youtube"></fa-icon></a>
    </div>
  </section>
    <!-- About section -->
    <div class="background">
      <section id="about">
        <div class="card">
          <img src="../assets/images/59661138_2753923521347002_4052113189200986112_n.jpg" alt="Picture of me" class=about-img>
          <div class="card-body">
            <h1 class="card-title">About</h1>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci error recusandae quia, quas beatae asperiores possimus amet culpa vero at eius ipsum neque molestias id quisquam laboriosam? Quisquam, hic provident.</p>
            <a routerLink="/resume" routerLinkActive="active" (click)="scrollToTop()">
              <div class="card-button">
                View Resume
              </div>
            </a>
          </div>
        </div>
      </section>
    </div>
  <!-- Projects section -->
    <section id="projects">
    <h1 class="projects-title">Click to View Projects</h1>
    <div class="projects">
      <div class="project-group-1">
        <article class="project-item">
          <div class="project-img">
            <a href="https://facebook.com">
              <img src="../assets/images/iphone.png" alt="Project">            
            </a>
          </div>
          <div class="project-caption">
            <h4 class="project-title">
              <a href="https://facebook.com">Project title</a>
            </h4>
            <h6 class="github-link">
              <a href="https://github.com" title="View github repository">
                Github
              </a>
            </h6>
          </div>
        </article>
        <article class="project-item">
          <div class="project-img">
            <a href="https://facebook.com">
              <img src="../assets/images/iphone.png" alt="Project">            
            </a>
          </div>
          <div class="project-caption">
            <h4 class="project-title">
              <a href="https://facebook.com">Project title</a>
            </h4>
            <h6 class="github-link">
              <a href="https://github.com" title="View github repository">
                Github
              </a>
            </h6>
          </div>
        </article>
        <article class="project-item">
          <div class="project-img">
            <a href="https://facebook.com">
              <img src="../assets/images/iphone.png" alt="Project">            
            </a>
          </div>
          <div class="project-caption">
            <h4 class="project-title">
              <a href="https://facebook.com">Project title</a>
            </h4>
            <h6 class="github-link">
              <a href="https://github.com" title="View github repository">
                Github
              </a>
            </h6>
          </div>
        </article>
      </div>

      <div class="project-group-2">
        <article class="project-item">
          <div class="project-img">
            <a href="https://facebook.com">
              <img src="../assets/images/iphone.png" alt="Project">            
            </a>
          </div>
          <div class="project-caption">
            <h4 class="project-title">
              <a href="https://facebook.com">Project title</a>
            </h4>
            <h6 class="github-link">
              <a href="https://github.com" title="View github repository">
                Github
              </a>
            </h6>
          </div>
        </article>
        <article class="project-item">
          <div class="project-img">
            <a href="https://facebook.com">
              <img src="../assets/images/iphone.png" alt="Project">            
            </a>
          </div>
          <div class="project-caption">
            <h4 class="project-title">
              <a href="https://facebook.com">Project title</a>
            </h4>
            <h6 class="github-link">
              <a href="https://github.com" title="View github repository">
                Github
              </a>
            </h6>
          </div>
        </article>
        <article class="project-item">
          <div class="project-img">
            <a href="https://facebook.com">
              <img src="../assets/images/iphone.png" alt="Project">            
            </a>
          </div>
          <div class="project-caption">
            <h4 class="project-title">
              <a href="https://facebook.com">Project title</a>
            </h4>
            <h6 class="github-link">
              <a href="https://github.com" title="View github repository">
                Github
              </a>
            </h6>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- Contact section -->
  <section id="contact">
    <!--Mail to link-->
    <a href="mailto:your@email.address" class="contact-mail" target="_blank" rel="noopener">
      contact<span class=red>@</span>address.com
    </a>

    <!--Video background-->
    <video loop muted autoplay id="video-background-2">
       <source src="../assets/videos/video-game.mp4" type="video/mp4"> 
    </video>


  </section>
  <!-- Footer section -->
  <section id="footer">
    <div class="footer-icons">
      <a href="https://github.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'github']" title="Github"></fa-icon></a>
      <a href="https://codepen.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'codepen']" title="Codepen"></fa-icon></a>
      <a href="https://linkedin.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'linkedin']" title="Linkedin"></fa-icon></a>
      <a href="https://medium.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'medium']" title="Medium"></fa-icon></a>
      <a href="https://instagram.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'instagram']" title="Instagram"></fa-icon></a>
      <a href="https://youtube.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'youtube']" title="Youtube"></fa-icon></a>
      <p class=footer-text>Tibi design</p>
    </div>
  </section>
</div>