<div class="background">
  <section id="about">
    <div class="card">
      <img src="../assets/images/59661138_2753923521347002_4052113189200986112_n.jpg" alt="Picture of me" class=about-img>
      <div class="card-body">
        <h1 class="card-title">About</h1>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci error recusandae quia, quas beatae asperiores possimus amet culpa vero at eius ipsum neque molestias id quisquam laboriosam? Quisquam, hic provident.</p>
        <a routerLink="/resume" routerLinkActive="active" (click)="scrollToTop()">
          <div class="card-button">
            View Resume
          </div>
        </a>
      </div>
    </div>
  </section>
</div>